.container {
  display: flex;
  flex-wrap: wrap;
  margin: 1% auto;
  max-width: 1240px;
}

.notes-table {
  flex: 1 1 100%;
}

.header-notes {
  display: flex;
  height: 32px;
  background-color: #999999;
  color: #ffffff;
  font-weight: 900;
  margin-bottom: 10px;
}

.list-item-notes {
  display: flex;
  min-height: 42px;
  background-color: #e8eaf5;
  margin-bottom: 10px;
}

.header-empty {
  flex: 1 1 3%;
  margin-right: 5px;
}

.header-name {
  flex: 1 1 20%;
  align-self: center;
}

.header-created {
  flex: 1 1 15%;
  align-self: center;
}

.header-category {
  flex: 1 1 15%;
  align-self: center;
}

.header-content {
  flex: 1 1 25%;
  align-self: center;
}

.header-dates {
  flex: 1 1 15%;
  align-self: center;
}

.header-icon-edit {
  flex: 1 1 2%;
}

.header-icon-archive {
  background-image: url(../img/icon-archive-white.png);
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  flex: 1 1 2%;
}

.header-icon-delete {
  background-image: url(../img/icon-delete-white.png);
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  flex: 1 1 2%;
}

.icon-task {
  background-image: url(../img/icon-task.png);
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
  flex: 1 1 3%;
  margin-right: 5px;
}

.icon-random-thought {
  background-image: url(../img/icon-thought.png);
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
  flex: 1 1 3%;
  margin-right: 5px;
}

.icon-idea {
  background-image: url(../img/icon-idea.png);
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
  flex: 1 1 3%;
  margin-right: 5px;
}


.name {
  flex: 1 1 20%;
  align-self: center;
}

.created {
  flex: 1 1 15%;
  align-self: center;
  color: #645d5d;
}

.category {
  flex: 1 1 15%;
  align-self: center;
  color: #645d5d;
}

.content {
  flex: 1 1 25%;
  align-self: center;
  color: #645d5d;
}

.dates {
  flex: 1 1 15%;
  align-self: center;
  color: #645d5d;
}

.icon-edit {
  background-image: url(../img/icon-edit-gray.png);
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  flex: 1 1 2%;
}

.icon-archive {
  background-image: url(../img/icon-archive-gray.png);
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  flex: 1 1 2%;
}

.icon-delete {
  background-image: url(../img/icon-delete-gray.png);
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  flex: 1 1 2%;
}

button {
  margin: 1% 0 4% auto;
  cursor: pointer;
}

.summary-table {
  flex-direction: column;
  flex: 1 1 100%;
}

.summary-header-notes {
  display: flex;
  height: 32px;
  background-color: #999999;
  color: #ffffff;
  font-weight: 900;
  margin-bottom: 10px;
}

.summary-list-item-notes {
  display: flex;
  height: 42px;
  background-color: #e8eaf5;
  margin-bottom: 10px;
}

.summary-header-empty {
  flex: 1 1 3%;
  margin-right: 5px;
}

.summary-icon {
  background-image: url(../img/icon-task.png);
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
  flex: 1 1 3%;
  margin-right: 5px;
}

.summary-header-category {
  flex: 1 1 30%;
  align-self: center;
}

.summary-header-active {
  flex: 1 1 30%;
  align-self: center;
}

.summary-header-archived {
  flex: 1 1 40%;
  align-self: center;
}

.summary-category {
  flex: 1 1 30%;
  align-self: center;
}

.summary-active {
  flex: 1 1 30%;
  align-self: center;
  color: #645d5d;
}

.summary-archived {
  flex: 1 1 40%;
  align-self: center;
  color: #645d5d;
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 25%;
  height: 35%;
  top: calc(100% - 80%);
  left: calc(100% - 65%);
  border: 2px solid gray;
  background-color: #e8eaf5;
  opacity: 90%;
  padding: 2%;
  font-weight: 900;
}

.modal-name {
  flex: 1 1 30%;

}

.modal-category {
  flex: 1 1 20%;
}

.modal-content {
  flex: 1 1 40%;
}

.modal-hidden {
  visibility: hidden;
}